.popup__button_disabled {
    cursor: not-allowed;
    color: #000;
    background: white;
    border: 1px solid #000;
    opacity: 0.2;
}

.popup__button_disabled:hover {
    background: white;
    border: 1px solid #000;
    opacity: 0.2;
}